@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */

  /* TYPOGRAPHY */
  --FF1: "Open Sans", sans-serif;
  --FF2: "Poppins", sans-serif;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  color: black;
  text-decoration: none;
}

/* || HEADER*/
.header {
  width: 100%;
  height: 721px;
  background-color: #edfbff;
  padding: 27px 16px 37px 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100%;
}

/* || HEADER-NAV */
.header__nav {
  display: flex;
  flex-flow: row;
  gap: 0%;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 104px;
  height: auto;
  margin-right: 143px;
}

.header__cta-btn {
  width: 96px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  color: #00252e;
  font: bold 10px var(--FF1);
  padding: 4px 22px 6px 23px;
  box-shadow: 0px 2px 7px 0px hsla(0, 0%, 0%, 0.0954);
}

/* || HEADER-CONTENT */
.header__hero-content,
.header__text-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero-content__title {
  font: 600 24px/36px var(--FF2);
  color: #00252e;
  margin-bottom: 24px;
  width: 280px;
  height: auto;
}

.hero-content__text {
  font: normal 16px/24px var(--FF1);
  color: #00252e;
  margin-bottom: 32px;
  width: 304px;
  height: auto;
}

.hero-content__cta-btn {
  color: white;
  background-color: #ff52c1;
  width: 240px;
  height: 40px;
  padding: 10px 59px 14px 60px;
  font: bold 12px var(--FF1);
  margin-bottom: 56px;
  border-radius: 20px;
}

.hero-content__hero-img img {
  width: 296px;
}

/* || MAIN */
.main {
  padding: 59px 20px 229px 20px;
  display: flex;
  flex-flow: column;
  gap: 40px;
  align-items: center;
}

/* || MAIN-CARD */
.main__card {
  width: 335px;
  height: 488px;
  box-shadow: 0px 0px 14px 0px hsl(0, 0%, 0%, 0.07);
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.card__text-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.card__image img {
  width: 256px;
  height: 256px;
  margin-bottom: 24px;
}

.card__title {
  font: 600 20px/30px var(--FF2);
  color: #00252e;
  margin-bottom: 16px;
}

.card__text {
  font: normal 14px/21px var(--FF1);
  color: #808e9a;
  width: 256px;
  height: auto;
}

.users .card__text {
  width: 248px;
}

.grow,
.flow,
.users {
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 39px;
  padding-bottom: 33px;
}

.flow {
  padding-bottom: 54px;
}

/* || FOOTER */
.footer {
  padding: 139px 21px 46px 16px;
  width: 100%;
  height: 785px;
  display: flex;
  justify-content: center;
  background-color: #00252e;
  position: relative;
}

/* || FOOTER-CARD */
.footer__card {
  padding: 41px 12px;
  background-color: white;
  width: 352px;
  height: 176px;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 0px hsl(0, 0%, 0%, 0.15);
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 91.46%;
}

.footer__card__title {
  font: 600 18px/30px var(--FF2);
  color: #00252e;
}

.footer__card__cta-btn {
  width: 200px;
  height: 40px;
  background-color: #ff52c1;
  border-radius: 20px;
  padding: 12.5px 49px 12.5px 50px;
  font: bold 10px/15px var(--FF1);
  color: white;
  box-shadow: 0px 6px 13px 0px hsl(192, 100%, 18%, 0.2231);
}

/* || FOOTER-OTHER */
.contact-links__contact-info {
  margin-bottom: 41px;
}

.footer__logo img {
  width: 167px;
  margin-bottom: 25px;
}

.contact-info__text,
.contact-info__text a {
  font: normal 14px/24px var(--FF1);
  color: white;
}

.contact-info {
  display: flex;
  flex-flow: row;
  gap: 19px;
  justify-content: left;
  align-items: center;
  margin-bottom: 24px;
}

.location {
  align-items: flex-start;
  position: relative;
}

.location img {
  width: 13px;
  position: absolute;
  top: 5px;
}

.location .contact-info__text {
  padding-left: 16px;
}

.contact-links__footer-links,
.footer-links__cln1,
.footer-links__cln2 {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.footer-links__cln1 a,
.footer-links__cln2 a {
  color: white;
  font: normal 14px/27px var(--FF1);
}

.contact-links__footer-links {
  margin-bottom: 24px;
}

.footer-links__social-copy {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
}

.social-copy__social-links {
  display: flex;
  flex-flow: row;
  gap: 12px;
}

.social-copy__social-links img {
  width: 33px;
}

.social-copy__copy {
  color: white;
  font: normal 12px var(--FF2);
}

@media screen and (min-width: 992px) {
  /* || HEADER*/
  .header {
    padding: 68px 80px 72px 80px;
    gap: 71px;
    background-image: url("./images/bg-hero-desktop.svg");
    background-position: -20px center;
  }

  /* || HEADER-NAV */
  .header__nav {
    gap: 0%;
  }

  .header__logo img {
    width: 250px;
    margin-right: 880px;
  }

  .header__cta-btn {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    font: bold 14px var(--FF1);
    padding: 13px 63px 16px 65px;
    box-shadow: 0px 3px 11px 0px hsla(0, 0%, 0%, 0.0954);
  }

  .header__cta-btn:hover,
  .header__cta-btn:focus {
    color: #808e9a;
  }

  /* || HEADER-CONTENT */
  .header__hero-content {
    flex-flow: row;
    align-items: center;
    gap: 54px;
  }

  .header__text-content {
    align-items: flex-start;
  }

  .hero-content__title {
    font: 600 40px/40px var(--FF2);
    margin-bottom: 32px;
    width: 500px;
    text-align: left;
  }

  .hero-content__text {
    font: normal 18px/27px var(--FF1);
    width: 520px;
    text-align: left;
  }

  .hero-content__cta-btn {
    width: 280px;
    height: 56px;
    padding: 17px 69px 20px 70px;
    font: bold 14px var(--FF1);
    margin-bottom: 0;
    border-radius: 28px;
  }

  .hero-content__cta-btn:hover,
  .hero-content__cta-btn:focus-visible {
    background-color: #ff9adb;
  }

  .hero-content__hero-img img {
    width: 680px;
  }

  /* || MAIN */
  .main {
    padding: 160px 104px 344px 104px;
  }

  /* || MAIN-CARD */
  .main__card {
    width: 1232px;
    height: 440px;
    flex-flow: row;
    justify-content: center;
  }

  .reverse {
    flex-flow: row-reverse;
  }

  .card__text-content {
    flex-flow: column;
    align-items: flex-start;
  }

  .grow .card__image img {
    width: 406.47px;
    height: auto;
    margin-bottom: 0;
  }

  .flow .card__image img {
    width: 417.94px;
    height: auto;
    margin-bottom: 0;
  }

  .users .card__image img {
    width: 420.2px;
    height: auto;
    margin-bottom: 0;
  }

  .card__title {
    font: 600 28px/42px var(--FF2);
    text-align: left;
  }

  .card__text {
    font: normal 18px/27px var(--FF1);
    text-align: left;
  }

  .users .card__text {
    width: 477px;
  }

  .users .card__text-content {
    padding-right: 188.9px;
  }

  .flow .card__text {
    width: 499px;
  }

  .flow .card__text-content {
    padding-left: 165.45px;
  }

  .grow .card__text {
    width: 488px;
  }

  .grow .card__text-content {
    padding-right: 185.27px;
  }

  .grow {
    padding: 53.86px 32.26px 53.86px 120px;
  }

  .flow {
    padding: 70.82px 29px 71.98px 120.61px;
  }

  .users {
    padding: 60.6px 25.9px 61.5px 120px;
  }

  /* || FOOTER */
  .footer {
    padding: 144px 78px 64px 120px;
    height: 418px;
  }

  /* || FOOTER-CARD */
  .footer__card {
    padding: 56px 127px 52px 132px;
    width: 800px;
    height: 280px;
    gap: 32px;
    bottom: 77.03%;
  }

  .footer__card__title {
    font: 600 32px/60px var(--FF2);
  }

  .footer__card__cta-btn {
    width: 400px;
    height: 80px;
    background-color: #ff52c1;
    border-radius: 40px;
    padding: 25px 99px 25px 100px;
    font: bold 20px/30px var(--FF1);
  }

  .footer__card__cta-btn:hover,
  .footer__card__cta-btn:focus-visible {
    background-color: #ff9adb;
  }

  /* || FOOTER-OTHER */
  .footer__center {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  .footer__contact-links {
    display: flex;
    flex-flow: row;
  }

  .contact-links__contact-info {
    margin-bottom: 0;
    margin-right: 130px;
  }

  .location .contact-info__text {
    width: 339px;
    height: auto;
  }

  .contact-info {
    gap: 16px;
    margin-bottom: 16px;
  }

  .footer-links__cln1,
  .footer-links__cln2 {
    gap: 12px;
  }

  .contact-links__footer-links {
    flex-flow: row;
    gap: 143px;
    margin-right: 175px;
  }

  .contact-links__footer-links {
    margin-bottom: 0;
  }

  .footer-links__social-copy {
    align-items: flex-start;
    gap: 107px;
  }

  .social-copy__social-links img {
    width: 34px;
  }

  .social-copy__social-links a:hover .original {
    display: none;
  }

  .social-copy__social-links a:hover .responsive-image {
    display: block;
  }
}
